  /******************************************TAG SELECTORS**************************************************/
body {
  background-color: yellow;
}
  /******************************************CLASS SELECTORS for image**************************************************/
.ing {
   color: red;

}
.baby {
  color:pink;
}
.play {
  color:orange;
}
  /******************************************ID SELECTORS for headers**************************************************/
#getting:hover {
  color: gold;
}
